/**
 * Break helpers
 */
@if $with-util and $util-break {

  /**
   * Output the wrapped version, explicitly allow responsive breaks
   * or set them global without a wrapper class
   */
  @if $util-break-wrap {

    // Define wrap class
    .#{$util-prefix}#{$util-break-wrap} br {
      display: none;

      // Define query based breaks
      @each $query in $break-media-queries {
        @include mx-media($query) {
          &.#{$util-prefix}#{$util-break-class}#{str-initials($query)} {
            display: inline;
          }
        }
      }
    }

    // Global variant
  } @else {
    br {
      display: none;

      // Define query based breaks
      @each $query in $break-media-queries {
        @include mx-media($query) {
          &.#{$util-prefix}#{$util-break-class}#{str-initials($query)} {
            display: inline;
          }
        }
      }
    }
  }

  // Keep breaks
  .#{$util-prefix}#{$util-break-keep-class} br { display: inline }

  // Whitespace no wrap
  .#{$util-prefix}#{$util-break-none-class} { white-space: nowrap }
}
