/**
 * Only use on condition, default: true
 */
@if $with-global and $global-font and $global-font-optimize {
  html {
    // Prevents iOS text size adjust after orientation change, without disabling
    text-size-adjust: 100%;

    // Optimize text rendering speed
    text-rendering: optimizeSpeed;
  }
}

/**
 * Only use on condition, default: true
 */
@if $with-global and $global-font and $global-font-smooth {
  body {
    // enable font smoothing for prettier custom fonts
    // http://szafranek.net/works/articles/font-smoothing-explained/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/**
 * Only use on condition, default: true
 */
@if $with-global and $global-font and $global-font-normalize {
  :root {
    --font-headline-margin: #{$global-font-normalize-h-margin};
    --font-paragraph-margin: #{$global-font-normalize-p-margin};
  }

  h1, h2, h3, h4, h5, h6 {
    margin: var(--font-headline-margin);
  }

  p {
    margin: var(--font-paragraph-margin);
  }

  h1, h2, h3, h4, h5, h6, p {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
