/**
 * List
 *  Submodule forwarding index
 */

// Normalize module config
$normalize-props: 'ui-list-' !default;

// Customize module config
$customize-prop: 'data-counter' !default;
$customize-counter: 'ui-ol-counter' !default;
$customize-style: decimal !default;
$customize-suffix: '.' !default;
$customize-space: '\00a0' !default;
$customize-styles: (
  decimal,
  decimal-leading-zero,
  lower-roman,
  lower-alpha,
  upper-alpha,
  lower-latin,
) !default;
$customize-custom: () !default;

// Spaced module config
$spaced-class: 'ui-list' !default;
$spaced-props: 'ui-list-' !default;

// Forward configurable modules
//  Note: normalize must be loaded before customize
@forward 'normalize' as normalize-* with (
  $props: $normalize-props,
);
@forward 'customize' as customize-* with (
  $prop: $customize-prop,
  $counter: $customize-counter,
  $style: $customize-style,
  $suffix: $customize-suffix,
  $space: $customize-space,
  $styles: $customize-styles,
  $custom: $customize-custom,
);
@forward 'spaced' as spaced-* with (
  $class: $spaced-class,
  $props: $spaced-props,
);
