/**
 * Color settings
 */

// Default colors
$default-colors: (
  off-white: #fffbf0,
  grey-2: #c2d1d9,
  cerulean: #0081c8,
  pumpkin-orange: #f28503,
  butterscotch: (#ffb93e,(grayscale,complement,alpha,invert,adjust-hue,darken,lighten,saturate,desaturate)),
);

// Set defaults if not set yet
$colors: $default-colors !default;

// Default color styles
$default-color-styles: (
  attr: (
    text: (color, (base-only)),
    bg: background-color,
    bdr: (border-color, (grey-2,cerulean,pumpkin-orange,butterscotch,butterscotch-comp)),
  ),
  alpha: (.1,.2,.3,.4,.5,.6,.7,.8,.9),
  invert: (10%,20%,30%,40%,50%,60%,70%,80%,90%,100%),
  adjust-hue: (30deg,60deg,90deg,120deg,150deg,180deg,210deg,240deg,270deg,300deg,330deg),
  darken: (10%,20%,30%,40%,50%),
  lighten: (10%,20%,30%,40%,50%),
  saturate: (),
  desaturate: (10%,20%,30%,40%,50%,60%,70%,80%,90%),
);

// Set defaults if not set yet
$color-styles: $default-color-styles !default;
