/**
 * Media query settings
 */

// Default media queries
$default-media-queries : (
  mobile-mini : 'screen and (max-width: 320px)',
  mobile-small : 'screen and (max-width: 374px)',
  mobile-classic : 'screen and (max-width: 480px)',
  mobile-medium : 'screen and (max-width: 560px)',
  mobile-large : 'screen and (max-width: 640px)',
  mobile : 'screen and (max-width: 767px)',
  mobile-tablet-portrait : 'screen and (max-width: 991px)',
  mobile-tablet : 'screen and (max-width: 1024px)',
  tablet : 'screen and (min-width: 768px) and (max-width: 1024px)',
  tablet-portrait : 'screen and (min-width: 768px) and (max-width: 991px)',
  tablet-landscape : 'screen and (min-width: 992px) and (max-width: 1024px)',
  tablet-desktop : 'screen and (min-width: 768px)',
  tablet-landscape-desktop : 'screen and (min-width: 992px)',
  desktop : 'screen and (min-width: 1025px)',
  desktop-nano : 'screen and (min-width: 1152px)',
  desktop-mini : 'screen and (min-width: 1200px)',
  desktop-small : 'screen and (min-width: 1366px)',
  desktop-medium : 'screen and (min-width: 1440px)',
  desktop-classic : 'screen and (min-width: 1600px)',
  desktop-large : 'screen and (min-width: 1920px)',
);

// Set defaults if not set yet
$media-queries: $default-media-queries !default;

// Query marker
$default-media-query-marker: '_at_';
$media-query-marker: $default-media-query-marker !default;
