/**
 * Media query settings
 */

// Default media queries
$default-media-queries : (
  small : 'screen and (max-width: 374px)',
  mobile : 'screen and (max-width: 767px)',
  mobile-tablet-portrait : 'screen and (max-width: 991px)',
  tablet : 'screen and (min-width: 768px) and (max-width: 1024px)',
  tablet-portrait : 'screen and (min-width: 768px) and (max-width: 991px)',
  tablet-landscape : 'screen and (min-width: 992px) and (max-width: 1024px)',
  tablet-desktop : 'screen and (min-width: 768px)',
  tablet-landscape-desktop : 'screen and (min-width: 992px)',
  medium : 'screen and (min-width: 1025px)',
  desktop : 'screen and (min-width: 1366px)',
  large : 'screen and (min-width: 1920px)',
);

// Set defaults if not set yet
$media-queries: $default-media-queries !default;

// Query prefix
$default-media-query-prefix: '_at_';
$media-query-prefix: $default-media-query-prefix !default;

// Query marker
$default-media-query-marker: '_at_';
$media-query-marker: $default-media-query-marker !default;
