/**
 * Wrap settings
 */

// Default wrap styles
$default-wrap-styles: (

  // Section wrapper
  --section: (
    position: relative,
    flex-direction: column,
    padding: 0 1rem,
    _at_tablet-desktop: (
        max-width: calc(100% - 2rem),
    ),
  ),

  // Content wrapper, including variants
  --content: (
    position: relative,
    max-width: 380px,
    _at_mobile-small: (
      max-width: 300px,
    ),
    _at_tablet-portrait: (
      max-width: 720px,
    ),
    _at_tablet-landscape-desktop: (
      max-width: 1000px,
    ),
    _at_desktop-small: (
      max-width: 1200px,
    ),
    -before: (
      position: relative,
      margin: 0 auto 2rem,
    ),
    -main: (
      position: relative,
    ),
    -after: (
      position: relative,
      margin: 2rem auto 0,
    ),
  ),
);

// Set defaults if not set yet
$wrap-styles: $default-wrap-styles !default;
