/**
 * Images
 *  Submodule forwarding index
 */

// Fluid module config
$fluid-class: 'ui-fluid' !default;
$fluid-text-class: 'ui-text' !default;
$fluid-props: 'ui-fluid-' !default;

// Assets module config
$assets-base: '../img/' !default;
$assets-cache: '' !default;

// Decals module config
$decals-class: 'ui-decals' !default;
$decals-static: '--static' !default;
$decals-props: 'ui-decals-' !default;
$decals-width: 0 !default;
$decals-sizing-as-props: false !default;

// Forward configurable modules
@forward 'fluid' as fluid-* with (
  $class: $fluid-class,
  $text-class: $fluid-text-class,
  $props: $fluid-props,
);
@forward 'assets' as assets-* with (
  $base: $assets-base,
  $cache: $assets-cache,
);
@forward 'decals' as decals-* with (
  $class: $decals-class,
  $static: $decals-static,
  $props: $decals-props,
  $width: $decals-width,
  $sizing-as-props: $decals-sizing-as-props,
);
