/**
 * Icon github
 *  Custom properties and styles with configuration
 */

/**
 * Requires
 */
@use '../../mixins/properties' as mixins;

/**
 * Component css class
 * @protected
 * @type {string} css class
 */
$class: 'ui-icon' !default;

/**
 * Component property prefix
 * @protected
 * @type {string} property name
 */
$props: 'ui-icon-' !default;


/**
 * Config defaults
 * @private
 * @type {map}
 */
$-config: (
  github-height: 0.8,
  github-width: 0.8,
);

/**
 * Generate required custom properties
 * @public
 * @output Adds components custom properties in current scope
 */
@mixin properties() {
  @include mixins.properties($-config, $props, '_at_', 'icons-styled-github.properties::');
}

/**
 * Generate icon styles
 * @public
 * @output Outputs configured icon styles in given context
 */
@mixin styles() {
  .#{$class}[data-icon="github"] {
    &::before {
      height: calc(var(--#{$props}size) * var(--#{$props}unit) * var(--#{$props}github-height));
      width: calc(var(--#{$props}size) * var(--#{$props}unit) * var(--#{$props}github-width));
      background-color: var(--#{$props}color);
      clip-path: polygon( 49.922% 3.85%,49.922% 3.85%,42.384% 4.458%,35.232% 6.22%,28.564% 9.039%,22.473% 12.82%,17.057% 17.466%,12.411% 22.883%,8.631% 28.974%,5.812% 35.644%,4.05% 42.797%,3.442% 50.337%,3.442% 50.337%,3.833% 56.397%,4.975% 62.221%,6.817% 67.76%,9.312% 72.965%,12.41% 77.788%,16.062% 82.178%,20.22% 86.088%,24.833% 89.469%,29.854% 92.271%,35.233% 94.445%,35.233% 94.445%,35.887% 94.518%,36.456% 94.493%,36.944% 94.381%,37.354% 94.194%,37.691% 93.946%,37.959% 93.647%,38.16% 93.312%,38.299% 92.951%,38.38% 92.578%,38.406% 92.204%,38.406% 92.204%,38.405% 91.819%,38.402% 91.33%,38.397% 90.742%,38.39% 90.061%,38.383% 89.291%,38.375% 88.437%,38.366% 87.505%,38.358% 86.501%,38.35% 85.428%,38.343% 84.293%,38.343% 84.293%,34.763% 84.802%,31.749% 84.725%,29.259% 84.188%,27.245% 83.316%,25.665% 82.234%,24.472% 81.067%,23.623% 79.942%,23.071% 78.983%,22.773% 78.315%,22.684% 78.065%,22.684% 78.065%,22.026% 76.57%,21.336% 75.296%,20.637% 74.229%,19.954% 73.352%,19.311% 72.652%,18.731% 72.113%,18.239% 71.719%,17.858% 71.457%,17.611% 71.31%,17.524% 71.265%,17.524% 71.265%,16.507% 70.486%,15.937% 69.865%,15.732% 69.384%,15.813% 69.026%,16.101% 68.772%,16.515% 68.605%,16.976% 68.506%,17.404% 68.457%,17.719% 68.441%,17.842% 68.44%,17.842% 68.44%,19.175% 68.654%,20.374% 69.065%,21.437% 69.62%,22.364% 70.269%,23.151% 70.96%,23.799% 71.641%,24.306% 72.26%,24.669% 72.766%,24.889% 73.108%,24.962% 73.233%,24.962% 73.233%,26.277% 75.098%,27.707% 76.474%,29.212% 77.422%,30.752% 78.001%,32.287% 78.271%,33.778% 78.293%,35.183% 78.126%,36.463% 77.831%,37.579% 77.467%,38.489% 77.095%,38.489% 77.095%,38.639% 76.223%,38.831% 75.407%,39.062% 74.647%,39.329% 73.944%,39.626% 73.296%,39.95% 72.703%,40.298% 72.166%,40.665% 71.683%,41.047% 71.254%,41.44% 70.88%,41.44% 70.88%,38.339% 70.432%,35.275% 69.749%,32.316% 68.766%,29.529% 67.416%,26.984% 65.633%,24.748% 63.35%,22.89% 60.502%,21.478% 57.023%,20.581% 52.846%,20.267% 47.905%,20.267% 47.905%,20.321% 46.41%,20.479% 44.971%,20.739% 43.587%,21.095% 42.257%,21.545% 40.983%,22.083% 39.764%,22.707% 38.599%,23.413% 37.489%,24.196% 36.433%,25.052% 35.431%,25.052% 35.431%,24.881% 34.974%,24.673% 34.314%,24.462% 33.465%,24.278% 32.436%,24.153% 31.239%,24.118% 29.886%,24.204% 28.387%,24.444% 26.754%,24.868% 24.998%,25.508% 23.13%,25.508% 23.13%,25.626% 23.101%,25.985% 23.048%,26.59% 23.022%,27.45% 23.075%,28.569% 23.257%,29.954% 23.619%,31.613% 24.213%,33.551% 25.09%,35.775% 26.301%,38.291% 27.896%,38.291% 27.896%,39.411% 27.602%,40.546% 27.339%,41.693% 27.106%,42.851% 26.904%,44.018% 26.733%,45.192% 26.592%,46.372% 26.481%,47.555% 26.4%,48.741% 26.35%,49.927% 26.33%,49.927% 26.33%,51.112% 26.35%,52.298% 26.401%,53.481% 26.481%,54.66% 26.592%,55.835% 26.733%,57.002% 26.905%,58.16% 27.107%,59.308% 27.339%,60.443% 27.602%,61.565% 27.896%,61.565% 27.896%,64.079% 26.301%,66.301% 25.09%,68.237% 24.213%,69.894% 23.619%,71.279% 23.257%,72.397% 23.075%,73.255% 23.022%,73.86% 23.048%,74.218% 23.101%,74.336% 23.13%,74.336% 23.13%,74.978% 24.998%,75.403% 26.754%,75.644% 28.387%,75.731% 29.886%,75.697% 31.239%,75.572% 32.436%,75.388% 33.465%,75.177% 34.314%,74.97% 34.974%,74.799% 35.431%,74.799% 35.431%,75.657% 36.433%,76.44% 37.489%,77.144% 38.599%,77.767% 39.764%,78.304% 40.983%,78.752% 42.257%,79.106% 43.587%,79.364% 44.971%,79.522% 46.41%,79.575% 47.905%,79.575% 47.905%,79.26% 52.856%,78.362% 57.038%,76.948% 60.518%,75.087% 63.363%,72.847% 65.64%,70.296% 67.415%,67.503% 68.756%,64.535% 69.729%,61.462% 70.401%,58.351% 70.84%,58.351% 70.84%,58.845% 71.313%,59.32% 71.871%,59.769% 72.514%,60.183% 73.243%,60.554% 74.058%,60.876% 74.961%,61.14% 75.95%,61.338% 77.028%,61.463% 78.195%,61.506% 79.451%,61.506% 79.451%,61.504% 81.277%,61.5% 83.017%,61.494% 84.658%,61.486% 86.185%,61.478% 87.585%,61.47% 88.845%,61.462% 89.95%,61.456% 90.887%,61.452% 91.643%,61.45% 92.203%,61.45% 92.203%,61.476% 92.579%,61.556% 92.955%,61.694% 93.319%,61.895% 93.656%,62.163% 93.956%,62.501% 94.204%,62.915% 94.389%,63.407% 94.498%,63.983% 94.518%,64.646% 94.437%,64.646% 94.437%,70.02% 92.261%,75.036% 89.458%,79.645% 86.077%,83.799% 82.167%,87.448% 77.778%,90.542% 72.957%,93.035% 67.753%,94.876% 62.216%,96.016% 56.393%,96.407% 50.335%,96.407% 50.335%,95.799% 42.796%,94.038% 35.643%,91.219% 28.974%,87.439% 22.883%,82.793% 17.466%,77.377% 12.82%,71.286% 9.039%,64.616% 6.22%,57.463% 4.458%,49.922% 3.85% );
    }
  }
}
