/**
 * Requires
 */
@use "sass:string";
@use "sass:list";

/**
 * Returns joined initials of a separated string
 * @param {string} $name - String to parse
 * @param {string} $separator - Separator string
 * @return {string} - First char of each element separated as a joined string
 */
@function str-initials($name, $separator: '-') {
  $result: '';
  $next: string.index($name, $separator);
  @if $next != null {
    @while $next != null {
      $result: $result + string.slice($name, 1, 1);
      $name: string.slice($name, $next + 1);
      $next: string.index($name, $separator);
    }
    $result: $result + string.slice($name, 1, 1);
  } @else {
    $result: string.slice($name, 1, 1);
  }
  @return $result;
}
