/**
 * Insert a line break before content
 * @output Inserts a pseudo before with a break
 */
@mixin break-before {
  &::before {
    content: "\A";
    white-space: pre;
  }
}

/**
 * Insert a line break after content
 * @output Inserts a pseudo after with a break
 */
@mixin break-after {
  &::after {
    content: "\A";
    white-space: pre;
  }
}
