/**
 * Clear both before
 * @output Inserts a pseudo before with a clear both
 */
@mixin clear-before {
  &::before {
    display: block;
    content: '';
    clear: both;
  }
}

/**
 * Clear both after
 * @output Inserts a pseudo after with a clear both
 */
@mixin clear-after {
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}
