/**
 * Icon check
 *  Custom properties and styles with configuration
 */

/**
 * Requires
 */
@use '../../abstract/config' as abstract;
@use '../../mixins/properties' as mixins;

/**
 * Component css class
 * @protected
 * @type {string} css class
 */
$class: 'ui-icon' !default;

/**
 * Component property prefix
 * @protected
 * @type {string} property name
 */
$props: 'ui-icon-' !default;

/**
 * Config defaults
 * @private
 * @type {map}
 */
$-config: (
  check-width: 0.15,
  check-height: 0.5,
  check-line: 0.1,
);

/**
 * Update component config options
 * @public
 * @param {map} $options - Map of config options
 * @output {void} - Only sets config options
 */
@mixin config($options) {
  $-config: abstract.config($options, $-config, false, true, 'icons-styled-check.config::') !global;
}

/**
 * Generate required custom properties
 * @public
 * @output Adds components custom properties in current scope
 */
@mixin properties() {
  @include mixins.properties($-config, $props, '_at_', 'icons-styled-check.properties::');
}

/**
 * Generate icon styles
 * @public
 * @output Outputs configured icon styles in given context
 */
@mixin styles() {
  .#{$class}[data-icon="check"] {
    span {
      width: calc(var(--#{$props}size) * var(--#{$props}unit) * var(--#{$props}check-line));
      height: calc(var(--#{$props}size) * var(--#{$props}unit) * var(--#{$props}check-height));
      background-color: var(--#{$props}color);
      transform: translate(-50%, -50%) rotate(45deg);
    }
    span::after {
      top: auto;
      left: 0;
      bottom: 0;
      height: calc(var(--#{$props}size) * var(--#{$props}unit) * var(--#{$props}check-line));
      width: calc(var(--#{$props}size) * var(--#{$props}unit) * var(--#{$props}check-width));
      background-color: var(--#{$props}color);
      transform: translate(-100%, 0);
    }
  }
}
