/**
 * Icon menu
 *  Custom properties and styles with configuration
 */

/**
 * Requires
 */
@use '../../abstract/config' as abstract;
@use '../../mixins/properties' as mixins;

/**
 * Component css class
 * @protected
 * @type {string} css class
 */
$class: 'ui-icon' !default;

/**
 * Component property prefix
 * @protected
 * @type {string} property name
 */
$props: 'ui-icon-' !default;

/**
 * Config defaults
 * @private
 * @type {map}
 */
$-config: (
  menu-height: 0.09,
  menu-width: 0.6,
  menu-offset: -0.1,
);

/**
 * Update component config options
 * @public
 * @param {map} $options - Map of config options
 * @output {void} - Only sets config options
 */
@mixin config($options) {
  $-config: abstract.config($options, $-config, false, true, 'icons-styled-menu.config::') !global;
}

/**
 * Generate required custom properties
 * @public
 * @output Adds components custom properties in current scope
 */
@mixin properties() {
  @include mixins.properties($-config, $props, '_at_', 'icons-styled-menu.properties::');
}

/**
 * Generate icon styles
 * @public
 * @output Outputs configured icon styles in given context
 */
@mixin styles() {
  .#{$class}[data-icon="menu"] {
    span {
      height: calc(var(--#{$props}size) * var(--#{$props}unit) * var(--#{$props}menu-height));
      width: calc(var(--#{$props}size) * var(--#{$props}unit) * var(--#{$props}menu-width));
      background-color: var(--#{$props}color);
    }
    span::before,
    span::after {
      height: 100%;
      width: 100%;
      background-color: var(--#{$props}color);
    }
    span::before {
      top: calc(var(--#{$props}size) * var(--#{$props}unit) * var(--#{$props}menu-offset));
      transform: translate(-50%, -100%);
    }
    span::after {
      top: auto;
      bottom: calc(var(--#{$props}size) * var(--#{$props}unit) * var(--#{$props}menu-offset));
      transform: translate(-50%, 100%);
    }
  }
}
